<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<title>Mock Exams</title>
</head>


<body>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> Exam Mocks </a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#">Contact</a></li>
        <li><a href="#">About Us</a></li>
      </ul>
    </div>
  </nav>

<div class="container">

	<div class="container">
		<fieldset>
			<legend><h2>Login Form</h2></legend>
				<form>
					<input type="text" name="name" id="name" placeholder="Enter Your Name"/>
					<input type="text" name="phone" id="phone" placeholder="Enter Your Mobile No.">

					<button class="btn waves-effect waves-light" type="submit" name="action" >Submit
						<i class="material-icons right">send</i>
					</button>
				</form>
		</fieldset>
	</div>
	<div>

        <table>
			<th style="text-align:center; color:#00FF66;"><h1>List Of paper</h1></th>

			<table id="t01">
			  <tr>
				<th>S.No.</th>

				<th>Mock Test Paper</th>
			  </tr>
              {% for section in sections %}
                <tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="test/?section_id={{ section.id }}">{{ section.name }} </a></td>
			  </tr>

                {% endfor %}

			</table>
	</div>

</div>
</body>
</html>
