<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Mock Exams</title>
</head>
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
<body>
<h1>786</h1>
	<div>
		<fieldset>
			<legend><h2>Login Form</h2></legend>
				<form>
					<input type="text" name="name" id="name" placeholder="Enter Your Name"/>
					<input type="text" name="phone" id="phone" placeholder="Enter Your Mobile No.">
					<input type="button" value="Submit" >
				</form>
		</fieldset>
	</div>
	<div>

        <table>
			<th style="text-align:center; color:#00FF66;"><h1>List Of paper</h1></th>

			<table id="t01">
			  <tr>
				<th>S.No.</th>

				<th>Mock Test Paper</th>
			  </tr>
              {% for section in sections %}
                <tr>
				<td>{{ forloop.counter }}</td>
				<td><a href="test/?section_id={{ section.id }}">{{ section.name }} </a></td>
			  </tr>

                {% endfor %}


			  			</table>
	</div>


</body>
</html>
